###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> app
/.cache/
/.env
/.local/
/composer.lock
/config/parameters.yaml
/symfony.lock
###< app ###
